h1 {
    font-size: 50px;
    font-weight: bolder;
    color: aliceblue;
    display: flex;
    text-decoration: underline;
    
    justify-content: center;
    text-align: center;
    margin-top: 350px;
}
body{
    background-color: rgb(30, 193, 202);
}